version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chefify
    ports:
      - "5433:5433"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: always
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: chefify
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  dbdata:
